<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Pufferspeicher</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<script src="/static/script.js" defer></script>
<body>
  <h1>Pufferspeicher</h1>

  <div class="container-wrapper">
    <div class="container">

      <!-- Left side -->
      <div class="image-container card">
        <div class="puffer-wrapper">
          <div class="puffer_image">
            <img src="/static/img/puffer_transparent_no_bg3.png" alt="Puffer">
          </div>
          <div class="hue_linear_gradient"></div>
        </div>

        <div class="temp-bars" id="temp-bars">
          <div class="temp-bar" style="top:5%;">
            <div id="temp1">0°C</div>
          </div>
          <div class="temp-bar" style="top:15%;">
            <div id="temp2">0°C</div>
          </div>
          <div class="temp-bar" style="top:25%;">
            <div id="temp3">0°C</div>
          </div>
          <div class="temp-bar" style="top:35%;">
            <div id="temp4">0°C</div>
          </div>
          <div class="temp-bar" style="top:45%;">
            <div id="temp5">0°C</div>
          </div>
          <div class="temp-bar" style="top:55%;">
            <div id="temp6">0°C</div>
          </div>
          <div class="temp-bar" style="top:65%;">
            <div id="temp7">0°C</div>
          </div>
          <div class="temp-bar" style="top:75%;">
            <div id="temp8">0°C</div>
          </div>
          <div class="temp-bar" style="top:85%;">
            <div id="temp9">0°C</div>
          </div>
          <div class="temp-bar" style="top:95%;">
            <div id="temp10">0°C</div>
          </div>
        </div>
      </div>

    <!-- Grafana -->
    <div class="iframe-container card">
      <iframe
        src="{{ grafana_src }}"
        allowfullscreen>
      </iframe>
    </div>

    </div>
  </div>
</body>
</html>
